Для игры необходимо установить библиотеку pygame. Для этого необходимо сделать следующее:
1) Нажмите на клавиатуре комбинацию клавиш Win + R
2) В появившемся окне наберите cmd и нажмите Ок либо клавишу Enter
3) После открытия командной строки пропишите команду pip install pygame
4) Ждите, пока установится библиотека. После установки библиотеки можете закрывать командную строку.
Если по каким-то причинам в командной строке высвечиваются ошибки, обратитесь с соответствующим вопросом в интернет.
Очень важно установить библиотеку до запуска игры. В противном случае ничего не запустится.
